li {
    list-style: none;
}

.nav {
    display: flex ;
    position: sticky;
    background-color: #070611;
    top:0px;
    /* padding-top: 0.8rem; */
    z-index: 10;
}
.navbar-toggler{
    display: flex;
    justify-content: flex-end;

}