@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.datacard {
  background-color: #f5f4ff;
  margin-top: 2rem;
  margin: 0;
  /* margin-bottom: 2rem; */
  border-radius: 2rem;
  /* padding: 2rem; */
  width: 30rem;
  height: 90vh;
  transition: transform 0.8s;
  font-weight: bold;
  font-family: "Kdam Thmor Pro", sans-serif;
}
.container {
  width: fit-content;
  margin: 0;
}

body {
  background-color: white;
}

input {
  width: 25rem;
}

.btn {
  background-color: #05ef63;
  color: #121d28;
  width: fit-content;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  font-weight: bold;
  border-color: #05ef63;
  transition: transform 1s;
}
.btn:hover {
  /* background-color: #06E3E2; */
  background-color: #05ef63;
  width: fit-content;
  transition: 1s;
  color: #121d28;
  border-color: #05ef63;
}
.form-text {
  color: grey;
}
.form-control {
  color: #00133f;
  background-color: white;
}
.scrollable-table-container {
  max-height: 90vh !important;
  overflow: scroll !important;
}

table {
  width: 100%;
  display: block;
  border-collapse: collapse;
}
Table thead {
  position: sticky;
  top: 0px;
  margin: 0 0 0 0;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
